#puzzle-container {
    width: 400px;
    height: 400px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    cursor: pointer;
	transition: transform 0.2s ease-in-out; /* Add this line for the animation */

}

label {
    display: block;
    margin-bottom: 10px;
	position:fixed;
	bottom:10px;
}

select {
    position: fixed;
	bottom:12px;
    left: 9%;
    padding: 10px;
    border-radius: 8px;
}

.congratsPage
{
    background-image: url('Confetti.gif');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.congrats
{
    position: relative; top: 300px;
    background-color: gray;
    border-radius: 5px;
    margin: auto;
    width: 400px; height: 200px;
    text-align: center;
}

.youWin
{
    color: goldenrod;
    font-size: 50pt;
    font-family: "Arial Black", Times, serif;
}

.link
{
    text-decoration: none;
    font-size: 15pt;
}
.link:hover
{
    color: skyblue;
}

#imageSelectorContainer {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
}

.animated-tile {
    transform: scale(1.1); /* Adjust the scaling factor as needed */
}